body {
    background-color: black;
    color: white;
    font-size: 17px;
}

.flex {
    display: flex;
    gap: 5px;
}

.m-1 {
    margin: 8px;
}

.p-1 {
    padding: 8px;
}

.invert {
    filter: invert(1);
}

.grey {
    background-color: #121212;
    border-radius: 9px;
}